.container {
    text-align: center;
    padding: 4rem 1rem;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #111827;
}

.subheading {
    font-size: 1.25rem;
    color: #4b5563;
    margin-top: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  text-align: left;
}